<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sittin' Log{% endblock title %}</title>
</head>
<body>
    <header class='header'>
        <h1>Sittin' Log</h1>
        <nav class='navigation'>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>

                <li><a href="{% url 'admin:index' %}">ADMIN</a></li>

                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'django_registration_register' %}">SIGN UP</a></li>
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <p>ehaan || 2019</p>
    </footer>
</body>
</html>